/* start: custom resets */
* {
    -moz-box-sizing: border-box; 
         box-sizing: border-box;
}

ul.no-bullets {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #00A0FF;
}

a:hover {
    text-decoration: none;
    color: #108ED8;
}

body {
    background: #f8f8f8;
}

.hide {
    display: none !important;
}

.bold-text {
    font-weight: bold;
}
/* end: custom resets */

/* start: bootstrap custom */
.navbar {
    min-height: 60px; 
    margin-bottom: 0;
}

.navbar-default {
    background: #fff;
}

.navbar-brand {
    height: 60px;
    padding: 20px 15px;
    padding-left: 0;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* end: bootstrap custom */

.nav-wrapper {
    width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.container-wrapper {
    width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.slide-wrapper {
    margin-top: 60px;
}

/* start: component styles */
.business-header {
    margin-bottom: 15px;
}

.business-intro {
    padding: 40px 0;
    text-align: center;
}

.business-title {
    margin: 0; 
    padding: 0;
}

.business-rating {
    color: #888;
}

.business-star-rating i.fa-star {
    color: #00a0ff;
}

.business-star-rating i.fa-star-o {
    color: #c2c2c2;
}

.business-banner {
    position: relative;
    min-height: 350px;
    border: 3px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
    background: url('../img/site/covers/outdoor.jpg');
    background-size: cover;
}

.business-banner-tile {
    position: absolute;
    width: 400px;
    height: 50px;
    top: -28px;
    left: 380px;
    background: #FFF none repeat scroll 0% 0%;
    padding: 4px;
    border: 1px solid #F2F2F2;
    border-color: #F5F6F9 #EFF0F4 #E0E1E5;
    border-radius: 3px;
    text-align: center;
}

.business-banner-tile li {
    display: inline-block;
    height: 40px;
    border-right: 1px solid #F2F2F2;
    min-width: 80px;
    padding: 0px 6px;
    margin-left: -4px;
}

.business-banner-tile li:last-child {
    border-right: none;
    width: 116px;
}

.business-banner-tile li:first-child {
    width: 116px;
}

.business-banner-tile li a {
    display: block;
    padding: 4px 6px;
    line-height: 18px;
    border-radius: 3px;
}

.business-banner-tile li a:hover {
    background: #fbfbfb;
}

.img-shadow-overlay {
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    background: rgba(0, 0, 0, 0.2);
}

.business-content {
    min-height: 500px;
}

.business-sidebar-left {
    position: relative;
    height: 100%;
}

.business-location {
    position: absolute;
    top: -50px; left: 0; right: 0;
    padding: 0px 15px;
}

.business-location-box {
    background: #fff;
    min-height: 250px;
    padding: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #F5F6F9 #EFF0F4 #E0E1E5;
    padding-bottom: 5px;
}

.business-map-mini {
    position: relative;
    width: 100%;
    height: 150px;
    padding-bottom: 3px;
    border-bottom: 1px solid #E0E1E5;
}

.business-direction-cta {
    position: absolute;
    bottom: -16px; right: 10px;
}

.business-direction-fab {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #00A0FF;
    border: 1px solid #0B9EF6;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.business-direction-fab:hover {
    background: #0698EF;
    border: 1px solid #0E94E4;
}

.business-direction-fab i {
    padding: 10px 9px;
    color: #fff;
}

.business-direction-fab-text {
    position: relative;
    background: #fff;
    color: #00A0FF;
    font-size: 12px;
    padding: 4px 12px 4px 4px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #F5F6F9 #EFF0F4 #E0E1E5;
    margin-right: -10px;
    z-index: 1;
}

.business-main-area {
    min-height: 500px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #F5F6F9 #EFF0F4 #E0E1E5;
    background: #fff;
}

.business-sidebar-right {
    min-height: 500px;
}

.business-photos {
    background: #fff;
    margin-right: -15px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #F5F6F9 #EFF0F4 #E0E1E5;
    min-height: 200px;
    padding: 0px 2px;
}

.business-map-address {
    margin-top: 15px;
    padding: 0px 5px;
}

.business-map-address address {
    margin-bottom: 4px;
}

.business-contact-info {
    padding: 8px 5px 0px;
}

.business-contact-info i {
    font-size: 12px;
    height: 12px;
    width: 12px;
    color: #00A0FF;
}

.business-contact-info span {
    margin-left: 4px;
}

.tile-heading {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    padding: 10px 6px;
}

.tile-heading i {
    color: #00A0FF;
    margin-right: 10px;
}

.tile-heading a {
    color: #333;
}

.tile-heading a:hover {
    text-decoration: underline;
}

.business-photo-collection-sidebar {
    margin: 0;
}

.business-photo-thumb {
    margin-bottom: 4px;
}

.business-photo-thumb-holder {
    height: 87px;
    background: #f2f2f2;
    margin: 0px -13px;
}

.business-photo-thumb-img {
    width: 100%;
    height: 87px;
}

.more-business-photo-thumbs span {
    line-height: 87px;
    text-align: center;
    display: block;
    font-weight: bold;
}
/* end: component styles */
